<button (click)="onScrape()" class="ui primary submit button">Scrape</button>

<div [class.loading]="loading" class="ui form">
  <h4 class="ui dividing header">Performer Information</h4>
  <div class="field">
    <div class="fields">
      <div class="fourteen wide field">
        <label>Name</label>
        <input [(ngModel)]="performer.name" type="text" placeholder="Name" />
      </div>
      <div class="two wide field">
        <label>Favorite</label>
        <div (click)="onFavoriteChange()" class="ui massive heart rating">
          <i class="icon" [class.active]="performer.favorite"></i>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Aliases</label>
      <input [(ngModel)]="performer.aliases" type="text" placeholder="Aliases" />
    </div>

    <div class="equal width fields">
      <div class="field">
        <label>Origin Country</label>
        <input [(ngModel)]="performer.country" type="text" placeholder="Origin Country" />
      </div>
      <div class="field">
        <label>Birth Date (YYYY-MM-DD)</label>
        <input [(ngModel)]="performer.birthdate" type="text" placeholder="YYYY-MM-DD" />
      </div>
      <div class="field">
        <label>Ethnicity</label>
        <sui-select
          [(ngModel)]="performer.ethnicity"
          [options]="ethnicityOptions"
          placeholder="Ethnicity"
          #ethnicitySelect>
          <sui-select-option *ngFor="let option of ethnicitySelect.availableOptions" [value]="option"></sui-select-option>
        </sui-select>
      </div>
    </div>

    <div class="equal width fields">
      <div class="field">
        <label>Eye Color</label>
        <input [(ngModel)]="performer.eye_color" type="text" placeholder="Eye Color" />
      </div>
      <div class="field">
        <label>Height (cm)</label>
        <input [(ngModel)]="performer.height" type="text" placeholder="Height (cm)" />
      </div>
      <div class="field">
        <label>Measurements</label>
        <input [(ngModel)]="performer.measurements" type="text" placeholder="Measurements" />
      </div>
      <div class="field">
        <label>Fake Tits</label>
        <input [(ngModel)]="performer.fake_tits" type="text" placeholder="Fake Tits" />
      </div>
      <div class="field">
        <label>Career Length</label>
        <input [(ngModel)]="performer.career_length" type="text" placeholder="Career Length" />
      </div>
    </div>

    <div class="equal width fields">
      <div class="field">
        <label>Tattoos</label>
        <input [(ngModel)]="performer.tattoos" type="text" placeholder="Tattoos" />
      </div>
      <div class="field">
        <label>Piercings</label>
        <input [(ngModel)]="performer.piercings" type="text" placeholder="Piercings" />
      </div>
    </div>

    <div class="equal width fields">
      <div class="field">
        <label>URL</label>
        <input [(ngModel)]="performer.url" type="url" placeholder="URL" />
      </div>
      <div class="field">
        <label>Twitter Handle</label>
        <input [(ngModel)]="performer.twitter" type="text" placeholder="Twitter Handle" />
      </div>
      <div class="field">
        <label>Instagram Handle</label>
        <input [(ngModel)]="performer.instagram" type="text" placeholder="Instagram Handle" />
      </div>
    </div>

    <div class="field">
      <label>Image</label>
      <div class="fields">
        <div class="fourteen wide field">
          <input #imageInput type="file" (change)="onImageChange($event)" placeholder="Upload file" accept=".jpg,.jpeg">
        </div>
        <div class="two wide field">
          <div class="ui small image">
            <img [src]="imagePreview" />
          </div>
          <button class="ui button" (click)="onResetImage(imageInput)">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <button (click)="onSubmit()" class="ui primary submit button">Submit</button>
</div>