<div class="wall grid">
  <form id="scene-filter" class="ui massive form">
    <div class="ui massive fluid transparent icon input">
      <input [(ngModel)]="searchTerm" [formControl]="searchFormControl" name="q" placeholder="Search..." type="text">
      <i class="search icon"></i>
    </div>
  </form>

  <div class="ui four column grid" style="margin: 0;">
    <a *ngFor="let scene of scenes" (click)="onClick(scene)" class="wall column">
      <video class="wall item" loop autoplay="true">
        <source [src]="previewPath(scene)" type="video/webm" />
      </video>
    </a>
  </div>
</div>