<div class="wall grid">
  <form id="scene-filter" class="ui massive form">
    <div class="ui massive fluid transparent icon input">
      <input [(ngModel)]="searchTerm" [formControl]="searchFormControl" name="q" placeholder="Search..." type="text">
      <i class="search icon"></i>
      <button (click)="toggleMode()" class="ui basic button" style="margin: 5px 50px;">{{mode == WallMode.Scenes ? 'Scenes' : 'Markers'}}</button>
    </div>
  </form>

  <div class="ui four column grid" style="margin: 0;">
    <a *ngFor="let item of items" (click)="onClick(item)" class="wall column">
      <video #videoTag
        (mouseenter)="onMouseEnter(videoTag)"
        (mouseleave)="onMouseLeave(videoTag)"
        class="wall item"
        loop
        autoplay="true"
        muted="true">
        <source [src]="previewPath(item)" />
      </video>
      <div style="position: absolute; bottom: 1em; left: 1em; font-weight: 900; font-size: small; text-shadow: black 1px 1px;">{{item.title}}</div>
    </a>
  </div>
</div>