<a (click)='onSelect()' class="performer image" [style.background-image]="'url(' + imagePath() + ')'"></a>
<div class="content">
  <div class="header">{{performer.name}}</div>
  <div class="meta">
    <span *ngIf="!!ageFromDate && !!performer.birthdate" class="date">{{performer.birthdate | age: ageFromDate}} years old in scene.</span>
    <span *ngIf="!!ageFromDate === false && !!performer.birthdate" class="date">{{performer.birthdate | age}} years old.</span>
  </div>
</div>
<div class="extra content">
  <span>
    <div class="ui heart rating">
      <i class="icon" [class.active]="performer.favorite"></i>
    </div>
  </span>
</div>