<div *ngIf="isMarkerOverlayOpen" style="position: fixed; background: #000; top: 45px; left: 0; right: 0; bottom: 0; z-index: 1;">
  <div class="ui six column grid" style="margin: 0;">
    <a *ngFor="let marker of scene?.scene_markers" (click)="onClickMarker(marker)" class="wall column">
      <video #videoTag
        (mouseenter)="onMouseEnter(videoTag)"
        (mouseleave)="onMouseLeave(videoTag)"
        class="wall item"
        loop
        autoplay="true"
        muted="true">
        <source [src]="marker.stream" />
      </video>
      <div style="position: absolute; bottom: 1em; left: 1em; font-weight: 900; font-size: small; text-shadow: black 1px 1px;">{{marker.title}} - {{marker.seconds | seconds}}</div>
    </a>
  </div>
</div>

<div class="ui container segments">
  <div class="ui top attached segment">
    <app-jwplayer
      (seeked)="onSeeked()"
      (time)="onTime($event)"
      #jwplayer>
    </app-jwplayer>

    <app-scene-detail-scrubber
      #scrubber
      [scene]="scene"
      (seek)="scrubberSeek($event)"
      (scrolled)="scrubberScrolled()">
    </app-scene-detail-scrubber>

    <sui-accordion class="fluid">
      <sui-accordion-panel [isOpen]="false">
        <div title>
          <i class="dropdown icon"></i>
          Markers
        </div>
        <div content>
          <div class="ui form" style="margin-bottom: 30px;">
            <div class="field">
              <ng-template let-result let-query="query" #resultTemplate>
                {{ result.title }} ({{ result.count }})
              </ng-template>
              <sui-search
                style="width: 100%;"
                [hasIcon]="false"
                maxResults="15"
                placeholder="Marker Title"
                [options]="markerOptions"
                optionsField="title"
                [resultTemplate]="resultTemplate"
                #markerInput>
              </sui-search>
            </div>
            <button (click)="onClickAddMarker()" class="ui button">Create</button>
            <button (click)="isDeleteMarkerEnabled = !isDeleteMarkerEnabled"
                    class="ui basic button"
                    [class.red]="isDeleteMarkerEnabled">Delete</button>
          </div>

          <!--style="overflow-y: auto; white-space: nowrap;"-->
          <div class="ui large labels">
            <div *ngFor="let marker of scene?.scene_markers" class="ui basic label">
              <!--<video #videoTag
                (mouseenter)="onMouseEnter(videoTag)"
                (mouseleave)="onMouseLeave(videoTag)"
                loop
                autoplay="true"
                muted="true">
                <source [src]="markerStreamPath(marker)" type="video/mp4" />
              </video>-->
              <img [src]="marker.preview" />
              <a (click)="onClickMarker(marker)">
                {{marker.title}} - {{marker.seconds | seconds}}
              </a>
              <i *ngIf="isDeleteMarkerEnabled" (click)="onClickDeleteMarker(marker)" class="icon close"></i>
            </div>
          </div>
          <button (click)="isMarkerOverlayOpen = !isMarkerOverlayOpen" class="ui button">Preview Markers</button>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>

  <div class="ui attached clearing segment">
    <h1 class="ui left floated marginless header">
      {{scene?.title || 'No Title'}}
      <div *ngIf="!!scene?.date" class="sub header">{{scene?.date | date:"MM/dd/yy"}}</div>
    </h1>
    <button (click)="onClickEdit()" class="ui right floated button">Edit</button>
  </div>

  <div *ngIf="!!scene?.details && scene?.details.length != 0" class="ui attached segment">
    <h3>Details</h3>
    <p class="pre">{{scene.details}}</p>
  </div>

  <div *ngIf="scene?.performers.length > 0" class="ui attached segment">
    <h3>Performers</h3>
    <div class="ui four centered stackable link cards">
      <app-performer-card *ngFor="let performer of scene?.performers"
      [performer]="performer"
      [ageFromDate]="scene.date">
      </app-performer-card>
    </div>
  </div>

  <div *ngIf="scene?.tags.length > 0" class="ui attached segment">
    <h3>Tags</h3>
    <div class="ui labels">
      <a *ngFor="let tag of scene?.tags" class="ui label">{{tag.name}}</a>
    </div>
  </div>

  <div *ngIf="!!scene?.studio" class="ui attached segment">
    <div class="ui four centered stackable link cards">
      <app-studio-card [studio]="scene?.studio"></app-studio-card>
    </div>
  </div>

  <div *ngIf="!!scene?.gallery" class="ui attached segment">
    <h3 class="ui header">
      Gallery
    </h3>
    <app-gallery-preview *ngIf="!!scene?.gallery" [gallery]="scene?.gallery"></app-gallery-preview>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui list">
      <a class="clippable item" title="Click to copy" ngxClipboard [cbContent]="scene?.checksum">
        <i class="privacy icon"></i>
        <div class="content">
          <div class="header">Checksum</div>
          <div class="description">{{scene?.checksum}}</div>
        </div>
      </a>
      <a class="clippable item" title="Click to copy" ngxClipboard [cbContent]="scene?.path">
        <i class="folder open outline icon"></i>
        <div class="content">
          <div class="header">Path</div>
          <div class="description">{{scene?.path}}</div>
        </div>
      </a>
      <a *ngIf="!!scene?.url" class="clippable item" title="Click to copy"  ngxClipboard [cbContent]="scene?.url">
        <i class="server icon"></i>
        <div class="content">
          <div class="header">URL</div>
          <div class="description">{{scene?.url}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
