<div class="ui container segments">
  <div class="ui top attached segment">
    <!--[hidden]="!scene?.is_streamable"-->
    <app-jwplayer
      (onTime)="onTime($event)"
      #jwplayer>
    </app-jwplayer>
    <!--<% else %>
      <%= link_to "scene_playlist_path(@scene).m3u8", class: 'ui fluid image' do %>
        <%= image_tag screenshot_path(@scene) %>
      <% end %>
    <% end %>-->

    <sui-accordion class="fluid">
      <sui-accordion-panel [isOpen]="true">
        <div title>
          <i class="dropdown icon"></i>
          Markers
        </div>
        <div content>
          <div class="ui form" style="margin-bottom: 30px;">
            <div class="field">
              <input [(ngModel)]="markerTitle" type="text" placeholder="New Marker" />
            </div>
            <button (click)="onClickAddMarker()" class="ui button">Create</button>
            <button (click)="isDeleteMarkerEnabled = !isDeleteMarkerEnabled"
                    class="ui basic button"
                    [class.red]="isDeleteMarkerEnabled">Delete</button>
          </div>

          <div class="ui large labels">
            <div *ngFor="let marker of scene?.scene_markers" class="ui basic label">
              <a (click)="onClickMarker(marker)">
                {{marker.title}} - {{marker.seconds | seconds}}
              </a>
              <i *ngIf="isDeleteMarkerEnabled" (click)="onClickDeleteMarker(marker)" class="icon close"></i>
            </div>
          </div>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>

  <div class="ui attached clearing segment">
    <h1 class="ui left floated marginless header">
      {{scene?.title || 'No Title'}}
      <div *ngIf="!!scene?.date" class="sub header">{{scene?.date | date:"MM/dd/yy"}}</div>
    </h1>
    <button (click)="onClickEdit()" class="ui right floated button">Edit</button>
  </div>

  <div *ngIf="!!scene?.details && scene?.details.length != 0" class="ui attached segment">
    <h3>Details</h3>
    <p class="pre">{{scene.details}}</p>
  </div>

  <div *ngIf="scene?.performer_ids.length > 0" class="ui attached segment">
    <h3>Performers</h3>
    <div class="ui four centered stackable link cards">
      <app-performer-card *ngFor="let performer of scene?.fetchedPerformers"
      [performer]="performer"
      [ageFromDate]="scene.date">
      </app-performer-card>
    </div>
  </div>

  <div *ngIf="scene?.tag_ids.length > 0" class="ui attached segment">
    <h3>Tags</h3>
    <div class="ui labels">
      <a *ngFor="let tag of scene?.fetchedTags" class="ui label">{{tag.name}}</a>
    </div>
  </div>

  <div *ngIf="!!scene?.gallery_id" class="ui attached segment">
    <h3 class="ui header">
      Gallery
    </h3>
    <app-gallery-preview [gallery]="scene?.fetchedGallery"></app-gallery-preview>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui list">
      <a class="clippable item" title="Click to copy" ngxClipboard [cbContent]="scene?.checksum">
        <i class="privacy icon"></i>
        <div class="content">
          <div class="header">Checksum</div>
          <div class="description">{{scene?.checksum}}</div>
        </div>
      </a>
      <a class="clippable item" title="Click to copy" ngxClipboard [cbContent]="scene?.path">
        <i class="folder open outline icon"></i>
        <div class="content">
          <div class="header">Path</div>
          <div class="description">{{scene?.path}}</div>
        </div>
      </a>
      <a *ngIf="!!scene?.url" class="clippable item" title="Click to copy"  ngxClipboard [cbContent]="scene?.url">
        <i class="server icon"></i>
        <div class="content">
          <div class="header">URL</div>
          <div class="description">{{scene?.url}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
